@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --menu-bgcolor: #ffffff;
  --menu-color: #262626;
  --menu-color-nactive:#787878b3;
  --font: Segoe UI, Inter;
  --menu-font-size: 3vh;
}
body {
  font-family: var(--font);
  margin: 0px;
  padding:0px;
}
.menu {
  background-color: var(--menu-bgcolor);
  color: var(--menu-color);
  display: flex;
  justify-content: flex-start;
  max-height: 54px;
}
.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: stretch;
  vertical-align: middle;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
  max-height: 54px;
}
.menu-list li {
  display: inline;
  padding: 0 min(18px, 4%);
  min-width: 40px;
}
.menu-child {
  font-size: 13px;
  height: 7vh;
  min-height: 54px;
  line-height: min(27px, 9vh);
  vertical-align: middle;
}
.menu-main {
  width: 100%;
  min-width: 350px;
}
a {
  vertical-align: middle;
  text-decoration: none;
}
.logo {
  vertical-align: bottom;
  font-size: x-large;
  display: inline;
}
.rest {
  background: linear-gradient(to bottom, #cfcfcf, #ffffff);
  width: 100%;
  height: 1000px;
}
.nactive{
  color: var(--menu-color-nactive);
}
.active{
  color:var(--menu-color)
}